@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #191919;
  width: 32vw;
}
body .background__img {
  width: 36vw;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.button {
  display: inline-block;
  width: fit-content;
  padding: 14px 26px;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: "Lexend", "sans-serif";
  color: white;
  border-radius: 80px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
}

.button-fill {
  color: #1c1c1c;
  background: #caff33;
}

@media screen and (max-width: 1024px) {
  .button {
    font-size: 0.875rem;
    padding: 12px 2.5vw;
  }
}
.menu-burger {
  display: none;
}
.menu-burger__button {
  position: relative;
  padding: 13px 17.5px;
  background: #caff33;
  border-radius: 80px;
  cursor: pointer;
  z-index: 101;
  height: 40px;
  width: 56px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-burger__button .line {
  background: #333333;
  height: 2px;
  width: 24px;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.1s ease;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
}
.menu-burger__button .line:nth-child(1) {
  top: 11px;
  width: 16px;
}
.menu-burger__button .line:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-burger__button .line:nth-child(3) {
  bottom: 11px;
  width: 16px;
}
.menu-burger__body {
  top: -100vh;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(76, 76, 77, 0.9);
  z-index: 100;
  transition: top 0.3s ease;
}

.active-menu .menu-burger__button {
  transform: scale(0.8);
}
.active-menu .menu-burger__button .line:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 24px;
}
.active-menu .menu-burger__button .line:nth-child(2) {
  opacity: 0;
}
.active-menu .menu-burger__button .line:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
}
.active-menu .menu-burger__body {
  top: 0;
}

@media screen and (max-width: 768px) {
  .menu-burger {
    display: block;
  }
}
.headline {
  font-family: "Lexend", "sans-serif";
  font-weight: 500;
  line-height: 150%;
  color: white;
}
.headline > span {
  color: #caff33;
}

.headline_xll {
  font-size: 3.625rem;
  font-weight: 500;
  color: #caff33;
}

.headline_xl {
  font-size: 3rem;
}

.headline_l {
  font-size: 2.5rem;
}

.headline_m {
  font-size: 1.5rem;
}

.headline_s {
  font-size: 1.375rem;
  font-weight: 400;
}

.headline_xs {
  font-size: 1.25rem;
}

@media screen and (max-width: 1024px) {
  .headline_xll {
    font-size: 3.625rem;
    font-weight: 500;
    color: #caff33;
  }
  .headline_xl {
    font-size: 2rem;
  }
  .headline_l {
    font-size: 2.5rem;
  }
  .headline_m {
    font-size: 1.5rem;
  }
  .headline_s {
    font-size: 1.375rem;
    font-weight: 400;
  }
  .headline_xs {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .headline_xll {
    font-size: 3.625rem;
    font-weight: 500;
    color: #caff33;
  }
  .headline_xl {
    font-size: 1.75rem;
  }
  .headline_l {
    font-size: 2.5rem;
  }
  .headline_m {
    font-size: 1.5rem;
  }
  .headline_s {
    font-size: 1.375rem;
    font-weight: 400;
  }
  .headline_xs {
    font-size: 1.25rem;
  }
}
.paragraph {
  font-family: "Lexend", "sans-serif";
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #e4e4e7;
}

@media screen and (max-width: 1024px) {
  .paragraph {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 12px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 3.7vw;
  background: #1c1c1c;
  border-radius: 100px;
  border: 1px solid #262626;
}
.header__logo {
  height: 40px;
}
.header__navigation-item {
  display: inline-block;
  padding: 12px 1.5vw;
  color: white;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: "Lexend", "sans-serif";
  border-radius: 80px;
  transition: background 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__navigation-item:hover {
  background: #262626;
  transform: scale(1.1);
}
.header__navigation .active {
  background: #262626;
}

.welcome {
  margin-top: 110px !important;
  display: flex;
  justify-content: space-between;
}
.welcome__text {
  width: 45vw;
}
.welcome__text-verify {
  margin-bottom: 20px;
  width: fit-content;
  border-radius: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background: #262626;
}
.welcome__text-verify > img {
  margin-right: 6px;
}
.welcome__text-title {
  margin-bottom: 1.4vw;
}
.welcome__text-description {
  margin-bottom: 5vw;
}
.welcome__info {
  width: 45vw;
  height: 100%;
  position: relative;
}
.welcome__info-transactions {
  width: 35vw;
  position: relative;
  z-index: 10;
  top: 0;
  left: 11px;
}
.welcome__info-arrows {
  width: 25vw;
  position: absolute;
  z-index: 9;
  top: 30px;
  right: -11px;
}

@media screen and (max-width: 1024px) {
  body .background__img {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  body .background__img {
    width: 100vw;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 14px 3.7vw;
  }
  .header__logo {
    height: 30px;
  }
  .header__navigation-item {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 14px 3.7vw;
  }
  .header__logo {
    height: 26px;
  }
  .header__navigation {
    display: none;
  }
  .header__navigation-item {
    font-size: 0.875rem;
  }
  .header__authorization {
    display: none;
  }
  .header .menu-burger {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .welcome__info-transactions {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    flex-direction: column;
    text-align: center;
  }
  .welcome__info {
    width: 100%;
  }
  .welcome__info-transactions {
    width: 80vw;
  }
  .welcome__info-arrows {
    top: 0;
    width: 50vw;
  }
  .welcome__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
  }
  .welcome__text__info {
    width: 100%;
  }
}
.content {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: absolute;
  z-index: 2;
}

.container {
  width: 85vw;
  max-width: 1600px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
