@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.button {
  padding: 14px 2.5vw;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: "Lexend", "sans-serif";
  color: white;
  border-radius: 80px;
  cursor: pointer;
}

.button-fill {
  color: #1c1c1c;
  background: #caff33;
}

@media screen and (max-width: 1024px) {
  .button {
    font-size: 0.875rem;
    padding: 12px 2.5vw;
  }
}
.menu-burger {
  display: none;
}
.menu-burger__button {
  position: relative;
  padding: 13px 17.5px;
  background: #caff33;
  border-radius: 80px;
  cursor: pointer;
  z-index: 100;
  height: 40px;
  width: 56px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-burger__button .line {
  background: #333333;
  height: 2px;
  width: 24px;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.1s ease;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
}
.menu-burger__button .line:nth-child(1) {
  top: 11px;
  width: 16px;
}
.menu-burger__button .line:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-burger__button .line:nth-child(3) {
  bottom: 11px;
  width: 16px;
}
.menu-burger__body {
  top: -100vh;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(76, 76, 77, 0.9);
  z-index: 5;
  transition: top 0.3s ease;
}

.active-menu .menu-burger__button {
  transform: scale(0.8);
}
.active-menu .menu-burger__button .line:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 24px;
}
.active-menu .menu-burger__button .line:nth-child(2) {
  opacity: 0;
}
.active-menu .menu-burger__button .line:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
}
.active-menu .menu-burger__body {
  top: 0;
}

@media screen and (max-width: 768px) {
  .menu-burger {
    display: block;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 3.7vw;
  background: #1c1c1c;
  border-radius: 100px;
  border: 1px solid #262626;
}
.header__logo {
  height: 40px;
}
.header__navigation-item {
  padding: 12px 1.5vw;
  color: white;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: "Lexend", "sans-serif";
}
.header__navigation .active {
  border-radius: 80px;
  background: #262626;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 14px 3.7vw;
  }
  .header__logo {
    height: 30px;
  }
  .header__navigation-item {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 14px 3.7vw;
  }
  .header__logo {
    height: 26px;
  }
  .header__navigation {
    display: none;
  }
  .header__navigation-item {
    font-size: 0.875rem;
  }
  .header__authorization {
    display: none;
  }
  .header .menu-burger {
    display: block;
  }
}
body {
  background: #191919;
  padding-top: 50px;
}

.container {
  width: 85vw;
  max-width: 1600px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
