@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #191919;
  width: 32vw;
}
body .background__img {
  width: 36vw;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.icon {
  width: fit-content;
  position: relative;
}
.icon-block {
  width: 96px;
  height: 96px;
}
.icon-image {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  width: fit-content;
  padding: 14px 26px;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: "Lexend", "sans-serif";
  color: white;
  background: transparent;
  border-radius: 80px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
}

.button-fill {
  color: #1c1c1c;
  background: #caff33;
}

@media screen and (max-width: 1024px) {
  .button {
    font-size: 0.875rem;
    padding: 10px 18px;
  }
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 0.875rem;
    padding: 10px 8px;
  }
}
.menu-burger {
  display: none;
}
.menu-burger__button {
  position: relative;
  padding: 13px 17.5px;
  background: #caff33;
  border-radius: 80px;
  cursor: pointer;
  z-index: 101;
  height: 40px;
  width: 56px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-burger__button .line {
  background: #333333;
  height: 2px;
  width: 24px;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.1s ease;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
}
.menu-burger__button .line:nth-child(1) {
  top: 11px;
  width: 16px;
}
.menu-burger__button .line:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-burger__button .line:nth-child(3) {
  bottom: 11px;
  width: 16px;
}
.menu-burger__body {
  top: -100vh;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(76, 76, 77, 0.9);
  z-index: 100;
  transition: top 0.3s ease;
}

.active-menu .menu-burger__button {
  transform: scale(0.8);
}
.active-menu .menu-burger__button .line:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 24px;
}
.active-menu .menu-burger__button .line:nth-child(2) {
  opacity: 0;
}
.active-menu .menu-burger__button .line:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
}
.active-menu .menu-burger__body {
  top: 0;
}

.block-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .menu-burger {
    display: block;
  }
}
.headline {
  font-family: "Lexend", "sans-serif";
  font-weight: 500;
  line-height: 150%;
  color: white;
}
.headline > span {
  color: #caff33;
}

.headline_xll {
  font-size: 3.625rem;
  font-weight: 500;
  color: #caff33;
}

.headline_xl {
  font-size: 3rem;
}

.headline_l {
  font-size: 2.5rem;
}

.headline_m {
  font-size: 1.5rem;
}

.headline_s {
  font-size: 1.375rem;
  font-weight: 400;
}

.headline_xs {
  font-size: 1.25rem;
}

@media screen and (max-width: 1024px) {
  .headline_xll {
    font-size: 2.5rem;
  }
  .headline_xl {
    font-size: 2rem;
  }
  .headline_l {
    font-size: 2.5rem;
  }
  .headline_m {
    font-size: 1.25rem;
  }
  .headline_s {
    font-size: 1.125rem;
  }
  .headline_xs {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .headline_xll {
    font-size: 2.5rem;
  }
  .headline_xl {
    font-size: 1.75rem;
  }
  .headline_l {
    font-size: 2.5rem;
  }
  .headline_m {
    font-size: 1.5rem;
  }
  .headline_s {
    font-size: 1.125rem;
  }
  .headline_xs {
    font-size: 0.875rem;
  }
}
.paragraph {
  font-family: "Lexend", "sans-serif";
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #e4e4e7;
}

@media screen and (max-width: 1024px) {
  .paragraph {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 12px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 3.7vw;
  background: #1c1c1c;
  border-radius: 100px;
  border: 1px solid #262626;
}
.header__logo {
  height: 40px;
}
.header__navigation-item {
  display: inline-block;
  padding: 12px 1.5vw;
  color: white;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: "Lexend", "sans-serif";
  border-radius: 80px;
  transition: background 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__navigation-item:hover {
  background: #262626;
  transform: scale(1.1);
}
.header__navigation .active {
  background: #262626;
}

.welcome {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome__text {
  width: 45vw;
}
.welcome__text-verify {
  margin-bottom: 20px;
  width: fit-content;
  border-radius: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background: #262626;
}
.welcome__text-verify > img {
  margin-right: 6px;
}
.welcome__text-title {
  margin-bottom: 1.4vw;
}
.welcome__text-description {
  margin-bottom: 5vw;
}
.welcome__info {
  width: 45vw;
  height: 100%;
  position: relative;
}
.welcome__info-transactions {
  width: 35vw;
  position: relative;
  z-index: 10;
  top: 0;
  left: 11px;
}
.welcome__info-arrows {
  width: 25vw;
  position: absolute;
  z-index: 9;
  top: 30px;
  right: -11px;
}

.products {
  margin-top: 160px;
  margin-bottom: 100px;
}
.products__navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__navigation-description {
  width: 55%;
}
.products__navigation-buttons {
  border: 1px solid #262626;
  border-radius: 80px;
  padding: 15px;
  background: #1c1c1c;
}
.products__list {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.products__list-item {
  text-align: center;
  padding: 0 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__list-item-title {
  margin: 20px 0px;
}
.products__list-item:first-child {
  padding-left: 0px;
  border-right: 1px solid #262626;
}
.products__list-item:last-child {
  padding-right: 0px;
  border-left: 1px solid #262626;
}

.cases__title {
  margin-bottom: 15px;
}
.cases__content {
  margin-top: 60px;
}
.cases__content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.cases__content-benefits {
  width: 50%;
  position: relative;
  border-radius: 20px;
  padding: 3vw;
  background: #1c1c1c;
}
.cases__content-benefits-img-left {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.cases__content-benefits-list {
  display: grid;
  grid-template-rows: 226px 196px;
  grid-template-columns: repeat(2, 45%);
  position: relative;
  z-index: 3;
  grid-gap: 20px;
}
.cases__content-benefits-list-item {
  background: #191919;
  padding: 15px;
  border-radius: 16px;
  border: 1px solid #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cases__content-benefits-list-item-title {
  margin-top: 20px;
  text-align: center;
}
.cases__content-statistics {
  width: 46%;
}
.cases__content-statistics-title {
  margin-bottom: 10px;
}
.cases__content-statistics-list {
  margin: 60px 0px;
  display: flex;
}
.cases__content-statistics-list-item:first-child {
  padding-right: 1.9vw;
  border-right: 3px dashed #262626;
}
.cases__content-statistics-list-item:nth-child(2) {
  padding: 0px 1.9vw;
}
.cases__content-statistics-list-item:last-child {
  padding-left: 1.9vw;
  border-left: 3px dashed #262626;
}
.cases__content-statistics-button {
  background: #1c1c1c;
  border: 1px solid #262626;
}

.features__description {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 60px;
}
.features__content {
  display: flex;
  justify-content: space-between;
}
.features__content-navigation {
  height: fit-content;
  margin-right: 5%;
  border-radius: 10px;
  background: #1c1c1c;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.features__content-navigation-button {
  background: #1c1c1c;
  border: 1px solid #262626;
}
.features__content-navigation-button:nth-child(2) {
  margin: 24px 0px;
}
.features__content-list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 30px;
}
.features__content-list-item {
  padding: 50px;
  background: #1c1c1c;
  border: 1px solid #262626;
  border-radius: 10px;
}
.features__content-list-item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.features__content-list-item-header-img {
  width: 34px;
  height: 34px;
}

.questions {
  margin-top: 60px;
}
.questions__description {
  margin-bottom: 80px;
}
.questions__list {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  grid-gap: 30px;
  mask: linear-gradient(360deg, transparent 0%, black 60%);
}
.questions__list-item {
  padding: 50px;
  background: #1c1c1c;
  border: 1px solid #262626;
  border-radius: 10px;
}
.questions__list-item-title {
  padding-bottom: 30px;
  border-bottom: 1px solid #262626;
  margin-bottom: 30px;
}
.questions__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #1c1c1c;
  border: 1px solid #262626;
}
.questions__button > img {
  margin-left: 5px;
}

.testimonials__navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__navigation-description {
  width: 55%;
}
.testimonials__navigation-buttons {
  border: 1px solid #262626;
  border-radius: 80px;
  padding: 15px;
  background: #1c1c1c;
}
.testimonials__content {
  position: relative;
  width: 100%;
}
.testimonials__content-arrow {
  background: #1c1c1c;
  border-radius: 50%;
  border: 1px solid #262626;
  padding: 15px;
  top: 50%;
  position: absolute;
}
.testimonials__content-left-arrow {
  left: 16px;
  transform: translate(-50%);
}
.testimonials__content-right-arrow {
  right: 16px;
  transform: translate(50%) rotate(180deg);
}
.testimonials__content-list {
  margin-top: 120px;
  display: flex;
  padding: 40px 6vw 0px;
  justify-content: space-between;
}
.testimonials__content-list-item {
  position: relative;
  border-top: 1px solid #262626;
  padding-top: 50px;
  width: 30%;
  text-align: center;
}
.testimonials__content-list-item-img-wrapper {
  position: absolute;
  padding: 0 20px;
  background: #191919;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials__content-list-item-img-wrapper > img {
  width: 60px;
  height: 60px;
}
.testimonials__content-list-item-person {
  font-family: "Lexend", "sans-serif";
  margin-top: 30px;
  text-align: center;
  color: #caff33;
  font-size: 0.875rem;
}

.open-account {
  margin-top: 100px;
  position: relative;
  border: 1px solid #262626;
  border-radius: 20px;
  padding: 80px;
}
.open-account__description {
  margin-top: 20px;
  width: 70%;
}
.open-account__button {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 20px;
}
.open-account__img {
  position: absolute;
  top: 0;
  left: 0;
}
.open-account__title {
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  body .background__img {
    width: 500px;
  }
  .icon-block {
    width: 64px;
    height: 64px;
  }
  .icon-image {
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 768px) {
  body .background__img {
    width: 100vw;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 14px 3.7vw;
  }
  .header__logo {
    height: 30px;
  }
  .header__navigation-item {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 14px 3.7vw;
  }
  .header__logo {
    height: 26px;
  }
  .header__navigation {
    display: none;
  }
  .header__navigation-item {
    font-size: 0.875rem;
  }
  .header__authorization {
    display: none;
  }
  .header .menu-burger {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .welcome__info-transactions {
    width: 40vw;
  }
  .products {
    margin-top: 110px;
  }
  .products__navigation-description {
    width: 45%;
  }
  .cases__content-benefits-list {
    grid-template-rows: 174px 150px;
  }
  .features__content-navigation {
    padding: 35px;
  }
  .features__content-list-item {
    padding: 20px;
  }
  .features__content-list-item-header-img {
    width: 24px;
    height: 24px;
  }
  .questions__list-item {
    padding: 30px;
  }
  .testimonials__navigation-description {
    width: 45%;
  }
  .testimonials__content-list {
    padding: 40px 70px 0px;
  }
  .testimonials__content-list-item-img-wrapper {
    padding: 0px 14px;
    top: -25px;
  }
  .testimonials__content-list-item-img-wrapper > img {
    width: 44px;
    height: 44px;
  }
  .open-account__img {
    width: 202px;
    height: 192px;
    left: -5px;
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
  }
  .welcome__info {
    width: 100%;
  }
  .welcome__info-transactions {
    width: 80vw;
  }
  .welcome__info-arrows {
    top: 0;
    width: 50vw;
  }
  .welcome__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
  }
  .welcome__text__info {
    width: 100%;
  }
  .products {
    margin-top: 70px;
  }
  .products__title {
    text-align: center;
  }
  .products__navigation {
    flex-direction: column;
  }
  .products__navigation-description {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .products__list {
    flex-direction: column;
    margin-top: 30px;
  }
  .products__list-item {
    padding: 30px 50px 25px;
  }
  .products__list-item:first-child {
    border: 0;
    border-bottom: 1px solid #262626;
    padding: 30px 50px 25px;
  }
  .products__list-item:last-child {
    border: 0;
    border-top: 1px solid #262626;
    padding: 30px 50px 25px;
  }
  .cases__content {
    margin: 0;
  }
  .cases__content-wrapper {
    flex-direction: column;
  }
  .cases__content-benefits {
    margin-top: 60px;
    width: 100%;
  }
  .cases__content-benefits-list {
    grid-template-rows: 160px 160px;
  }
  .cases__content-statistics {
    width: 100%;
  }
  .features {
    text-align: center;
  }
  .features__description {
    width: 100%;
  }
  .features__content {
    flex-direction: column;
  }
  .features__content-navigation {
    padding: 20px;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .features__content-list {
    grid-template-columns: 100%;
    margin: 20px auto 0px;
    grid-gap: 20px;
  }
  .questions {
    margin-bottom: 150px;
  }
  .questions__title {
    text-align: center;
  }
  .questions__description {
    margin-bottom: 60px;
  }
  .questions__list {
    grid-gap: 15px;
    grid-template-columns: 100%;
    mask: linear-gradient(360deg, transparent 0%, black 20%);
  }
  .questions__list-item {
    padding: 30px;
  }
  .testimonials__title {
    text-align: center;
  }
  .testimonials__navigation {
    flex-direction: column;
  }
  .testimonials__navigation-description {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .testimonials__content {
    padding: 0px 0px 0px;
  }
  .testimonials__content-arrow {
    display: none;
  }
  .testimonials__content-list {
    padding: 40px 0px;
    margin: 0;
    flex-direction: column;
  }
  .testimonials__content-list-item {
    margin-top: 80px;
    width: 100%;
  }
  .open-account {
    margin-top: 50px;
    text-align: center;
    padding: 40px 40px 100px;
  }
  .open-account__description {
    width: 100%;
  }
  .open-account__img {
    width: 151px;
    height: 143px;
  }
  .open-account__button {
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
  }
}
.content {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: absolute;
  z-index: 2;
}

.container {
  width: 85vw;
  max-width: 1600px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
