//base
@import './base/reset';
@import './base/variables';
@import './base/fonts';
@import './base/secondary';

//components
@import './components/buttons';
@import './components/menu-burger';
@import './components/headlines';
@import './components/paragraphs';

//layouts
@import './layouts/header';

//pages
@import './pages/home.scss';

//media
@import './media/secondary';
@import './media/header';
@import './media/home';

.content {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: absolute;
  z-index: 2;
}

.container {
  width: 85vw;
  max-width: 1600px;
  margin: 0 auto;
}
