//base
@import './base/reset';
@import './base/variables';
@import './base/fonts';

//components
@import './components/buttons';
@import './components/menu-burger';

//layouts
@import './layouts/header';

//media
@import './media/header';

body {
  background: $gray-shade1;
  padding-top: 50px;
}

.container {
  width: 85vw;
  max-width: 1600px;
  margin: 0 auto;
}
