@media screen and (max-width: 768px) {
  .footer {
    padding: 50px 25px;
    &__navigation {
      margin: 20px 0px;
      &-item {
        font-size: 14px;
      }
    }
    &__contacts {
      padding: 20px 0px;
    }
    &__additional {
      border-radius: 10px;
      padding: 50px 0px 30px;
      flex-direction: column;
      &-media {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -30px;
        &-item {
        }
      }
      &-rights {
        margin-bottom: 20px;
        font-size: 0.9rem;
      }
      &-privacy {
        font-size: 0.9rem;
      }
    }
  }
}
