@media screen and (max-width: 1024px) {
  body {
    .background__img {
      width: 500px;
    }
  }
  .icon {
    &-block {
      width: 64px;
      height: 64px;
    }
    &-image {
      width: 28px;
      height: 28px;
    }
  }
}
@media screen and (max-width: 768px) {
  body {
    .background__img {
      width: 100vw;
    }
  }
}
