.welcome {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    width: 45vw;
    &-verify {
      margin-bottom: 20px;
      width: fit-content;
      border-radius: 60px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      & > img {
        margin-right: 6px;
      }
      background: $gray-shade3;
    }
    &-title {
      margin-bottom: 1.4vw;
    }
    &-description {
      margin-bottom: 5vw;
    }
  }
  &__info {
    width: 45vw;
    height: 100%;
    position: relative;
    &-transactions {
      width: 35vw;
      position: relative;
      z-index: 10;
      top: 0;
      left: 11px;
    }
    &-arrows {
      width: 25vw;
      position: absolute;
      z-index: 9;
      top: 30px;
      right: -11px;
    }
  }
}
.products {
  margin-top: 160px;
  margin-bottom: 100px;
  &__navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-description {
      width: 55%;
    }
    &-buttons {
      border: 1px solid $gray-shade3;
      border-radius: 80px;
      padding: 15px;
      background: $gray-shade2;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    &-item {
      text-align: center;
      padding: 0 50px 25px;
      &-title {
        margin: 20px 0px;
      }
      &:first-child {
        padding-left: 0px;
        border-right: 1px solid $gray-shade3;
      }
      &:last-child {
        padding-right: 0px;
        border-left: 1px solid $gray-shade3;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.cases {
  &__title {
    margin-bottom: 15px;
  }
  &__content {
    margin-top: 60px;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }
    &-benefits {
      width: 50%;
      position: relative;
      border-radius: 20px;
      padding: 3vw;
      background: $gray-shade2;
      &-img-left {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
      }
      &-list {
        display: grid;
        grid-template-rows: 226px 196px;
        grid-template-columns: repeat(2, 45%);
        position: relative;
        z-index: 3;
        grid-gap: 20px;
        &-item {
          background: $gray-shade1;
          padding: 15px;
          border-radius: 16px;
          border: 1px solid $gray-shade3;
          display: flex;
          flex-direction: column;
          align-items: center;
          &-title {
            margin-top: 20px;
            text-align: center;
          }
        }
      }
    }
    &-statistics {
      width: 46%;
      &-title {
        margin-bottom: 10px;
      }
      &-list {
        margin: 60px 0px;
        display: flex;
        &-item {
          &:first-child {
            padding-right: 1.9vw;
            border-right: 3px dashed $gray-shade3;
          }
          &:nth-child(2) {
            padding: 0px 1.9vw;
          }
          &:last-child {
            padding-left: 1.9vw;
            border-left: 3px dashed $gray-shade3;
          }
        }
      }
      &-button {
        background: $gray-shade2;
        border: 1px solid $gray-shade3;
      }
    }
  }
}
.features {
  &__description {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &-navigation {
      height: fit-content;
      margin-right: 5%;
      border-radius: 10px;
      background: $gray-shade2;
      padding: 50px;
      display: flex;
      flex-direction: column;
      &-button {
        background: $gray-shade2;
        border: 1px solid $gray-shade3;
        &:nth-child(2) {
          margin: 24px 0px;
        }
      }
    }
    &-list {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-gap: 30px;
      &-item {
        padding: 50px;
        background: $gray-shade2;
        border: 1px solid $gray-shade3;
        border-radius: 10px;
        &-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          &-img {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  }
}
.questions {
  margin-top: 60px;
  &__description {
    margin-bottom: 80px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    grid-gap: 30px;
    mask: linear-gradient(360deg, transparent 0%, black 60%);
    &-item {
      padding: 50px;
      background: $gray-shade2;
      border: 1px solid $gray-shade3;
      border-radius: 10px;
      &-title {
        padding-bottom: 30px;
        border-bottom: 1px solid $gray-shade3;
        margin-bottom: 30px;
      }
    }
  }
  &__button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: $gray-shade2;
    border: 1px solid $gray-shade3;
    & > img {
      margin-left: 5px;
    }
  }
}
