.menu-burger {
  display: none;

  &__button {
    position: relative;
    padding: 13px 17.5px;
    background: $brand-color1;
    border-radius: 80px;
    cursor: pointer;
    z-index: 101;
    height: 40px;
    width: 56px;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .line {
      background: $gray-shade4;
      height: 2px;
      width: 24px;
      position: absolute;
      transition:
        transform 0.3s ease,
        opacity 0.1s ease;
      left: 50%;
      border-radius: 10px;
      transform: translateX(-50%);
      &:nth-child(1) {
        top: 11px;
        width: 16px;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        bottom: 11px;
        width: 16px;
      }
    }
  }

  &__body {
    top: -100vh;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(76, 76, 77, 0.9);
    z-index: 100;
    transition: top 0.3s ease;
  }
}

.active-menu {
  .menu-burger {
    &__button {
      transform: scale(0.8);
      .line {
        &:nth-child(1) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          width: 24px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 24px;
        }
      }
    }

    &__body {
      top: 0;
    }
  }
}

.block-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .menu-burger {
    display: block;
  }
}
