//brand
$brand-color1: #CAFF33;
$brand-color2: #D1FF4C;
$brand-color3: #D8FF66;
$brand-color4: #CAFF33;
$brand-color5: #F2FFCC;
$brand-color6: #F8FFE5;
$brand-color7: #FBFFF0;
$brand-color8: #FEFFFA;

//white-shades
$white-shade1: #E4E4E7;
$white-shade2: #F1F1F3;
$white-shade3: #F7F7F8;
$white-shade4: #FCFCFD;

//gray-shades
$gray-shade1: #191919;
$gray-shade2: #1C1C1C;
$gray-shade3: #262626;
$gray-shade4: #333333;
$gray-shade5: #4C4C4D;
$gray-shade6: #59595A;
$gray-shade7: #656567;
$gray-shade8: #98989A;
$gray-shade9: #B3B3B3;
$gray-shade10: #BFBFBF;

//fonts
$font1: 'Lexend', 'sans-serif';
$font2: 'Inter', 'sans-serif';