//brand
$brand-color1: #caff33;
$brand-color2: #d1ff4c;
$brand-color3: #d8ff66;
$brand-color4: #caff33;
$brand-color5: #f2ffcc;
$brand-color6: #f8ffe5;
$brand-color7: #fbfff0;
$brand-color8: #fefffa;

//white-shades
$white-shade1: #e4e4e7;
$white-shade2: #f1f1f3;
$white-shade3: #f7f7f8;
$white-shade4: #fcfcfd;

//gray-shades
$gray-shade1: #191919;
$gray-shade2: #1c1c1c;
$gray-shade3: #262626;
$gray-shade4: #333333;
$gray-shade5: #4c4c4d;
$gray-shade6: #59595a;
$gray-shade7: #656567;
$gray-shade8: #98989a;
$gray-shade9: #b3b3b3;
$gray-shade10: #bfbfbf;

//fonts
$font1: 'Lexend', 'sans-serif';
$font2: 'Inter', 'sans-serif';
